@import "reset.css";

body {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas {
    background-color: white;
    width: 700px;
    height: 700px;
    margin-top: 100px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.menu-btns{
    margin-top: 20px;
}

.menu-btns button {
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-btns button:active {
    transform: scale(0.95);
}